* {
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  padding: 20px;
}
header h3 {
  margin-right: auto;
}

input {
  padding: 5px 10px;
}

.btn {
  padding: 8px 15px;
  background: #2ecc71;
  color: #fff;
  border: none;
}

.error {
  color: red;
  border-color: red;
}

section.colors {
  display: flex;
  flex-wrap: wrap;
}

.color-box {
  width: 25%;
  height: 150px;
  padding: 1em;
  /* border: 1px solid red; */
}

.color-light {
  color: #fff;
}

.select {
  color: red;
}